/* ===========================
   VARIABLES
=========================== */
:root {
	--primary-blue: #2e3192;
	--primary-blue-black: #1e2d78;

	--primary-orange: #f4572e;
	--text-dark: #00000080;
	--shadow: 0 2px 4px rgb(0 0 0 / 20%);
	--container-width: 1200px;
	--navbar-height: 70px;
	--font-family: Arial;
}

/* ===========================
   GLOBAL
=========================== */
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-family);
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

/* ===========================
   NAVBAR
=========================== */
.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	box-shadow: var(--shadow);
	z-index: 100;
	height: var(--navbar-height);
	display: flex;
	align-items: center;
}

/* ===========================
   CONTAINER
=========================== */
.container {
	max-width: var(--container-width);
	width: 90%;
	margin: 0 auto;
	padding: 0 15px;
}

/* ===========================
   BRAND
=========================== */

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	display: flex;
	align-items: center;
	font-weight: 300;
}

.brand i {
	font-size: 32px;
	color: var(--primary-blue);
	margin-right: 8px;
}

.brand span {
	color: var(--primary-orange);
	font-size: 30px;
}

/* ===========================
   NAVIGATION LINKS
=========================== */
.nav-links {
	display: flex;
	gap: 30px;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: var(--text-dark);
	font-weight: 600;
	font-size: 15px;
}

.nav-links a:hover {
	color: var(--primary-orange);
}

/* ===========================
   MOBILE MENU ICON
=========================== */
.menu-icon {
	display: none;
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 6px 10px;
	border-radius: 5px;
}
.menu-icon i {
	font-size: 25px;
}

/* ===========================
   HERO SECTION 
   Variables: from :root
=========================== */

/* Hero umumiy konteyner: butun ekran balandligi */
.home-section {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: 70px;
}

/* Slider ichidagi rasm style — cho‘zilmaydi, to‘liq ekranni qoplaydi */
.home-section .carousel-item img {
	width: 100%;
	height: auto;
	object-fit: cover; /* Image doesn't stretch */
}

/* Slider tugmalari */
.slider-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.3);
	border: none;
	color: white;
	font-size: calc(1vw + 4px);
	padding: 14px 14px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
	transition: 0.3s ease;
}

.carousel-item {
	display: none;
}

.carousel-item.active {
	display: block;
}

/* Chap tugma */
.left-btn {
	left: 20px;
}

/* O‘ng tugma */
.right-btn {
	right: 20px;
}

.slider-btn:hover {
	background: rgba(0, 0, 0, 0.4);
}

/* ===========================
   Services SECTION 
   Variables: from :root
=========================== */

.services-section {
	padding: 60px 0;
	font-family: var(--font-family);
}

.services-container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 20px;
}

/* GRID */
.services-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 30px;
	align-items: start;
}

/* ITEM */
.service-item {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	padding: 20px;
	transition: 0.3s ease;
	border-radius: 10px;
}

.service-item img {
	width: 90px;
	height: 90px;
}

.service-item h5 {
	font-size: 20px;
	color: var(--primary-blue);
	margin-bottom: 8px;
}

.service-item p {
	font-size: 14.5px;
	color: var(--text-dark);
	line-height: 1.6;
}

/* HOVER EFFECT */
.service-item:hover {
	background: #fafafa;
	box-shadow: var(--shadow);
	transform: translateY(-3px);
	cursor: pointer;
}
/* ===========================
   TESTIMONIALS SECTION
=========================== */

.testimonials-section {
	background: #edf5fe;
	padding: 50px 30px;
	text-align: center;
	position: relative;
}

.testimonials-title {
	font-size: 1.75rem;
	margin-bottom: 0.5rem;
	color: #212529;
	font-weight: 700;
}

/* Tugmalar */
.test-btn {
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	font-size: 28px;
	color: var(--primary-blue-black);
	cursor: pointer;
	padding: 10px;
	z-index: 5;
	transition: 0.3s;
}

.test-btn:hover {
	color: var(--primary-orange);
}

.test-btn.left {
	left: 30px;
}

.test-btn.right {
	right: 30px;
}

/* FLEX container */
.testimonials-flex {
	max-width: var(--container-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	overflow: hidden;
}

/* ITEM */
.testimonial-item {
	flex: 1 1 calc(33.33% - 30px);
	max-width: 33%;
	/* opacity: 0.2; */
	transition: 0.4s ease;
}

/* .testimonial-item.active {
	opacity: 1;
} */

.testimonial-item h3 {
	color: var(--primary-blue-black);
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 600;
}

.testimonial-item p {
	color: var(--text-dark);
	font-size: 15px;
	line-height: 1.6;
	max-width: 350px;
	margin: 0 auto;
}

/* ========= SERVICES SECTION ========= */
/* TAB PICKER */

.services-section-2 {
	padding: 50px 0px;
}

.services-picker {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	gap: 10px;
	padding-bottom: 7px;
	border-bottom: 2px solid #f2c9c9;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.services-picker li {
	flex: 0 0 25%;
	text-align: center;
}

.services-picker button {
	width: 100%;
	background: none;
	border: none;
	font-size: 18px;
	font-weight: 600;
	color: var(--primary-blue-black);
	padding-bottom: 12px;
	cursor: pointer;
	transition: 0.3s;
	position: relative;
}

/* Hover effekti */
.services-picker button:hover {
	color: var(--primary-orange);
}

/* Aktiv border pastdan chiqadigan qismi */
.services-picker button.activeServicePicker::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -9px;
	width: 100%;
	height: 3px;
	background: var(--primary-orange);
}

.activeServicePicker {
	border-bottom: var(--tab-border);
	color: var(--primary-orange) !important;
}

/* TAB CONTENT */
.service-tab {
	display: none;
	padding-top: 40px;
}

.activeServiceTab {
	display: block;
}

/* ROW */
.service-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

/* COLUMNS */
.service-col {
	width: 50%;
}

.service-col img {
	height: auto;
	max-width: 100%;
	border: none;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.service2-title {
	color: var(--primary-blue-black);
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3;
}

.service2-p {
	color: var(--text-dark);
	font-size: 16px;
	line-height: 1.7;
	margin-top: 15px;
}

.service2Img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Appointment Section */
.appointment-section {
	padding: 50px 0;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.appointment-container {
	display: flex;
	/* max-width: var(--container-width); */
	width: 100%;
	background: #fff;
	/* box-shadow: var(--shadow); Sening shadow o'zgaruvching */
	border-radius: 8px;
	overflow: hidden;
	margin: 0 auto;
}

/* Rasm qismi */
.appointment-image {
	flex: 1;
}

.appointment-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Forma qismi */
.appointment-form-box {
	flex: 1;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-header {
	text-align: center;
	margin-bottom: 30px;
}

.form-header h2 {
	color: var(--primary-blue);
	font-size: 28px;
	margin-bottom: 10px;
}

.form-header p {
	color: var(--text-dark);
	font-size: 14px;
}

/* Inputlar stili */
.input-row {
	display: flex;
	gap: 20px;
	margin-bottom: 15px;
}

.input-row input,
textarea {
	width: 100%;
	padding: 12px 15px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
	transition: 0.3s;
}

.input-row input:focus,
textarea:focus {
	border-color: var(--primary-blue);
}

.phone-format {
	display: block;
	font-size: 12px;
	color: var(--text-dark);
	margin-bottom: 15px;
	margin-top: -10px;
}

textarea {
	width: 100%;
	resize: vertical;
	margin-bottom: 20px;
}

/* Tugma */
.btn-submit {
	background-color: var(--primary-blue-black);
	color: white;
	padding: 12px 25px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s;
}

.btn-submit:hover {
	background: var(--primary-orange);
}

/* Footer asosiy foni */
.main-footer {
	background-color: var(--primary-blue-black);
	color: #ffffff;
	padding-top: 60px;
}

.footer-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Kompyuterda 4 qator */
	gap: 30px;
	padding-bottom: 50px;
}

/* Logo va matnlar */
.footer-logo {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.footer-logo i {
	color: #f4572e;
	font-size: 32px;
}

.footer-column h3 {
	margin-bottom: 25px;
	font-size: 1.2rem;
	font-weight: bold;
}

.footer-column p,
.hours-list li {
	font-size: 14px;
	line-height: 1.8;
	color: #e0e0e0;
	margin-bottom: 10px;
}

/* Ijtimoiy tarmoq piktogrammalari */
.social-links {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

.social-links a {
	color: #fff;
	font-size: 18px;
	transition: 0.3s;
}

/* Subscribe formasi */
.subscribe-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subscribe-form input {
	padding: 12px;
	border: none;
	outline: none;
}

.subscribe-form button {
	background-color: var(--primary-orange);
	color: white;
	padding: 12px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

/* Footer pastki qismi */
.footer-bottom {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bottom-social a {
	color: white;
}

/* ===========================
   RESPONSIVE — TABLET (≤992px)
=========================== */
@media (max-width: 992px) {
	.services-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.testimonial-item {
		flex: 1 1 calc(50% - 30px);
		max-width: 50%;
	}

	.service-row {
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}

	.service-col {
		width: 100%;
	}

	.services-picker li {
		flex: 1 1 50% !important;
	}
	.appointment-section {
		padding: 0;
	}

	.appointment-section {
		padding: 10px;
	}
	.appointment-image {
		display: none;
	}

	.btn-submit {
		width: 100%;
	}

	.input-row input {
		width: 100%;
	}

	.footer-content {
		grid-template-columns: repeat(2, 1fr); /* 2 tadan 2 qator */
		gap: 40px;
	}
}

/* ===========================
   RESPONSIVE — MOBILE NAVBAR (≤768px)
=========================== */
@media (max-width: 768px) {
	/* Navbar SECTION */
	.brand i {
		font-size: 28px;
		margin-right: 2px;
	}

	.brand span {
		font-size: 25px;
		font-weight: 200;
	}

	.nav-links {
		position: absolute;
		top: var(--navbar-height);
		left: 0;
		width: 100%;
		display: none;
		flex-direction: column;
		background: white;
		padding: 20px 0;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.nav-links li {
		padding: 10px 0;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}

	.services-grid {
		grid-template-columns: 1fr;
	}

	.test-btn.left {
		left: 5px;
	}
	.test-btn.right {
		right: 5px;
	}
}

/* ===========================
   RESPONSIVE — SMALL MOBILE (≤576px)
=========================== */
@media (max-width: 576px) {
	.services-grid {
		grid-template-columns: 1fr;
		text-align: left;
	}

	.service-item {
		flex-direction: row;
		align-items: center;
	}
	.testimonial-item {
		flex: 1 1 100%; /* 1 ustun */
	}

	.testimonial-item h3 {
		font-size: 20px;
	}

	/* Wrap automatically */
	.services-picker {
		flex-wrap: wrap;
		border-bottom: none;
		gap: 15px;
	}

	/* Har bir tugma bitta qatorda */
	.services-picker li {
		width: 100%;
		border-bottom: 2px solid #f2c9c9;
		padding-bottom: 8px;
	}

	/* Active border pozitsiyasi */
	.services-picker button.activeServicePicker::after {
		bottom: -10px;
		height: 2px;
	}

	.services-picker button {
		font-size: 16px;
	}

	.appointment-section {
		padding: 0;
	}

	.appointment-container {
		width: 100%; /* Konteyner chekkalarga yopishishi uchun */
		border-radius: 0; /* Mobil ekranda burchaklar shart emas */
	}

	.input-row {
		flex-direction: column; /* Mobil telefonda inputlar ham ustma-ust bo'ladi */
		gap: 15px;
		width: 100%;
	}

	.form-header h2 {
		font-size: 22px;
	}

	.footer-content {
		grid-template-columns: 1fr; /* Hammasi ustma-ust */
		text-align: left;
	}

	.bottom-flex {
		flex-direction: column;
		gap: 15px;
		text-align: center;
	}

	.footer-logo {
		justify-content: flex-start;
	}
}
